@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body{
    font-size: 100%;
    background-color: aliceblue;
}

.cabecalho{
    font-size: 30px;
    position: absolute;
    text-align: center;
    padding-top: 250px;
    padding-left: 280px;
     
}

.paragrafo{
    font-size: 20px;
    margin: 5px;
}

.botao{
    
    background-color: #87CEFA;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    display: inline-block;
    border: 1px solid white;
    color:black;
}

.botao{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.botao:hover{
    background-color: lightgray;
}

.logo-bot{
    position: absolute;
    padding-left: 800px;
    top: 80px;
}

